<%- include('./layouts/header') %>

<main>
    <h1>Edit District</h1>
    <form action="/admin/district/update" method="POST">
        <input type="hidden" name="districtId" value="<%= district.id %>">
        
        <div class="form-group">
            <label for="name">District Name</label>
            <input type="text" name="name" id="name" value="<%= district.name %>" required>
        </div>

        <div class="form-group">
            <label for="description">Description</label>
            <textarea name="description" id="description" required><%= district.description %></textarea>
        </div>

        <button type="submit" class="btn btn-save">Save Changes</button>
    </form>
</main>

<%- include('./layouts/footer') %>
