<%- include('./layouts/header') %>

<main>
    <h1>District Management</h1>
    <a href="district/create" class="btn btn-create">Add New District</a>

    <div class="table-container">
        <table class="table">
            <thead>
                <tr>
                    <th>District Name</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <% districts.forEach(district => { %>
                    <tr>
                        <td><%= district.name %></td>
                        <td>
                            <a href="district/edit/<%= district.id %>" class="btn btn-edit">Edit</a>
                            <a href="/district/delete/<%= district.id %>" class="btn btn-delete">Delete</a>
                        </td>
                    </tr>
                <% }); %>
            </tbody>
        </table>
    </div>
</main>

<%- include('./layouts/footer') %>
