<%- include ('layouts/header') %>

<main>
    <h1 class="table-title">Manage Users</h1>

    <div class="table-container">
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Email</th>
                    <th>Role</th>
                </tr>
            </thead>
            <tbody>
                <% users.forEach(user => { %>
                <tr>
                    <td><%= user.id %></td>
                    <td><%= user.email %></td>
                    <td><%= user.role %></td>
                </tr>
                <% }) %>
            </tbody>
        </table>
    </div>
</main>

<%- include ('layouts/footer') %>
