<%- include('./layouts/header') %>

<main>
    <h1 class="table-title">Profile</h1>

    <div class="table-container">
        <table class="profile-table">
            <tr>
                <th>ID</th>
                <td><%= person.id %></td>
            </tr>
            <tr>
                <th>Email/Username</th>
                <td><%= person.email %></td>
            </tr>
            <tr>
                <th>Role</th>
                <td><%= person.role %></td>
            </tr>
            
        </table>
    </div>
</main>

<%- include('./layouts/footer') %>