<%- include('./layouts/header') %>

<main>
    <h1>
        <span class="goback" onclick="window.history.back()">&larr;</span> Profile
    </h1>

    <div class="table-container">
        <table class="profile-table">
            <tr>
                <th>ID</th>
                <td><%= person.id %></td>
            </tr>
            <tr>
                <th>Email/Username</th>
                <td><%= person.email %></td>
            </tr>
            <tr>
                <th>Role</th>
                <td><%= person.role %></td>
            </tr>
            <tr>
                <th>User Object</th>
                <td><pre><%= JSON.stringify(person, null, 2) %></pre></td>
            </tr>
        </table>
    </div>
</main>

<%- include('./layouts/footer') %>