<%- include('./layouts/header') %>

<main>
    <h1>Scout Management</h1>
    <a href="/scout/create" class="btn btn-create">Add New Scout</a>

    <div class="table-container">
        <table class="table">
            <thead>
                <tr>
                    <th>Scout Name</th>
                    <th>School</th>
                    <th>District</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <% scouts.forEach(scout => { %>
                    <tr>
                        <td><%= scout.name %></td>
                        <td><%= scout.school_name %></td>
                        <td><%= scout.district_name %></td>
                        <td>
                            <a href="/scout/edit/<%= scout.id %>" class="btn btn-edit">Edit</a>
                            <a href="/scout/delete/<%= scout.id %>" class="btn btn-delete">Delete</a>
                        </td>
                    </tr>
                <% }); %>
            </tbody>
        </table>
    </div>
</main>

<%- include('./layouts/footer') %>
